*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
/*=========================header section=============================*/
body{
   min-height: 100vh;
    background: url("../assests/images/index/background1.png") no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,#06C3DD,transparent) ;
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}

.navbar a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1rem;
}
#check{
    display: none;
}
.icons{
    font-size: 2.8rem;
    right: 5%;
    color: white;
    cursor: pointer;
    display: none;
}
@media (max-width: 1440px) {
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width: 1024px) {
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width: 768px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: transparent;
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 25rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
}

/*=========================header section=============================*/
.home{
    padding: 100px 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4em;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 2.2rem;
    font-weight: 700;
    color: white;
}
.change-text{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
}
.change-text h3{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
}
.change-text h3 .word{
    position: absolute;
    display: flex;
    opacity: 0;
    color: #06C3DD;
}
.change-text h3 .word .letter{
    transform-origin: center center 25px;
}
.change-text h3 .word .letter.out{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}
.change-text h3 .word .letter.in{
    transition: 0.38s ease;
}
.change-text h3 .word .letter.behind{
    transform:rotateX(-90deg) ;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #06C3DD;
    border-radius: 50%;
    font-size: 20px;
    color: #06C3DD;
    text-decoration: none;
    margin: 20px 15px 30px 0;
    transition: .5s ease;
}
.social-icons a:hover{
    background: #06C3DD;
    color: white;
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: #06C3DD;
    border-radius: 10px;
    box-shadow: 0 0 10px #06C3DD;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: #06C3DD;
}
/*.line{
    border-right: 6px solid white;
    height: 200px;
    position: absolute;
    left: 0;
    margin-left: 100px;
    bottom: 150px;

}*/
.home-img{
    position: relative;
    text-align: center;
}

/*=========================about section=============================*/
.about {
    /* min-height: 100vh;
     min-width: 100%;
     background: url("../assests/images/about/bac.png") no-repeat;
     background-size: cover;
     background-position: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    grid-gap: 2em;

}

.about .img-about{
    text-align: center;
    position: relative;
}
.about .img-about img{
    width: 400px;
    height: auto;
}
.about-content span{
    color: #06C3DD;
    font-size: 50px;
}
.about-content h2{
    color: white;
    font-size: 48px;
    margin-bottom:2.5rem;
}
.about-content p{
    color: white;
    font-weight:300 ;
    margin-bottom: 1.5rem;
}





