*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
/*=========================header section=============================*/
body{
   min-height: 100vh;
    background: url("../assests/images/index/background1.png") no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: -1;
}
.header::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(90deg,transparent,#06C3DD,transparent) ;
    transition: .5s;
}
.header:hover::after{
    left: 100%;
}

.navbar a{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1rem;
}
#check{
    display: none;
}
.icons{
    font-size: 2.8rem;
    right: 5%;
    color: white;
    cursor: pointer;
    display: none;
}




